body{
    margin: 0;
    padding: 0;
}
.bank_calculation{
    display: flex;
    align-items: center;
    height: 100vh;
}
.bank_items{
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    background: tomato;
    padding: 50px;
    box-sizing: border-box;
}
.bank_items h2{
    font-size: 30px;
    color: #FFF;
}
.input{
    margin-bottom: 10px;
}
.input:last-child{
    margin-bottom: 0;
}
.input input {
	border: 1px solid gray;
	width: 100%;
	padding: 13px 12px;
	box-sizing: border-box;
	color: #000;
	font-weight: 500;
	font-size: 14px;
    outline: none;
}
.input button{
    width:200px;
    background:#000;
    color: #FFF;
    font-size: 14px;
    padding: 13px 12px;
    border: none;
    cursor: pointer;
}

.account_d_area{
    overflow: hidden;
}

.main{
    max-width: 90%;
    margin: 0 auto;
}
.account_main{
    padding: 80px 0;
}
.account_main h2{
    color: #000;
    font-size: 35px;
    text-align: center;
    font-weight: 600;
}

.all_banking{
    display: flex;
    justify-content: space-between;
}

.single_div{
    padding: 30px;
    background: tomato;
    text-align: center;
    border-radius: 10px;
    box-sizing: border-box;
    flex: 0 0 31%;
    max-width: 31%;
}
.single_div h2{
    color: #FFF;
    font-size: 25px;
}
.single_div p{
    font-size: 20px;
    color: aquamarine;
}

.balance_add{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.input_b_single{
    padding: 30px;
    background-color: #000;
    color: #FFF;
    flex: 0 0 48%;
    max-width: 48%;
    box-sizing: border-box;
}

.input_b_single h2{
    font-size: 30px;
    color: #FFF;
}
.input_b_single input{
    padding: 12px 20px;
    width: 100%;
    border: 1px solid #FF;
    color:#000;
    box-sizing:border-box;
}

.input_b_single button{
    padding: 10px 20px;
    background: #FFF;
    outline: none;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 15px;
    cursor: pointer;
}